# Ignore node modules
node_modules/

# Ignore build folders
build/
dist/

# Environment files
.env
.env.*

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# Prevent large/binary files
*.iso
*.exe
*.zip
*.rar
*.crdownload
